<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Tenant" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="Audience" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="ClientID" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="AppKey" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="SubscriptionId" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="ServiceName" xdt:Locator="Match(key)" xdt:Transform="Remove" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <staticContent>
      <clientCache xdt:Transform="Remove" />
    </staticContent>
  </system.webServer>
</configuration>
