<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="StorageConnectionStringMaster" value="DefaultEndpointsProtocol=http;AccountName=dashstorage0;AccountKey=uCNvIdXcltACBiDUMyO0BflZpKmjseplqOlzE62tx87qnkwpUMBV/GQhrscW9lmdZVT0x8DilYqUoHMNBlVIGg==" />
    <add key="ScaleoutStorage0" value="AccountName=dashstorage1;AccountKey=8jqRVtXUWiEthgIhR+dFwrB8gh3lFuquvJQ1v4eabObIj7okI1cZIuzY8zZHmEdpcC0f+XlUkbFwAhjTfyrLIg==" />
    <add key="ScaleoutStorage1" value="AccountName=dashstorage2;AccountKey=YI0BDhckKp+6uBsu4OAAeVvUyOuMvimqo9BSz197lR14x9vWE+tuwqOr0U1asNWpkdZs4z8wcnu9pZNYDqdRPA==" />
    <add key="ScaleoutStorage2" value="AccountName=dashstorage3;AccountKey=TP+G/9FTZRP1he1EpKilMercxSbMyqtaI9xTbc/3HqT2/FkxyIk1wVlBdemDFuYKStmlkFqHc7049l8McTd8NQ==" />
    <add key="ScaleoutStorage3" value="AccountName=dashstorage4;AccountKey=/9xfNbmYy/k7DQzO12XEbEeMsy+z/ogkekHltikmCNXVNwPnW/O95d+FZTkfDDLo+s1LMLhXeCQFVDCDuo5DWQ==" />
    <add key="ScaleoutStorage4" value="AccountName=dashstorage5;AccountKey=FEZZeywk/TOJTqtYzIeHAF9TcpGzT3KC/RtSOPTgZwfnGTa3mJ1YXxfkWhx2x/znjmZNgfRKCAr8t49WIstkow==" />
    <add key="ScaleoutNumberOfAccounts" value="1"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="container" stopProcessing="true">
          <match url="(.*)" />
          <conditions trackAllCaptures="true">
            <add input="{QUERY_STRING}" pattern="(^|.*&amp;)restype=container($|&amp;.*)" />
          </conditions>
          <action type="Rewrite" url="/container/{R:1}" />
        </rule>
        <rule name="blob" stopProcessing="true">
          <match url="([^/]*)/(.*)" />
          <conditions trackAllCaptures="true">
          </conditions>
          <action type="Rewrite" url="/blob/{R:1}/{R:2}" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="StaticFile" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*" verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
