<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AccountName" value="dashlocal" />
    <add key="AccountKey" value="wCNvIdXcltACBiDUMyO0BflZpKmjseplqOlzE62tx87qnkwpUMBV/GQhrscW9lmdZVT0x8DilYqUoHMNBlVIGg==" />
    <!--<add key="StorageConnectionStringMaster" value="DefaultEndpointsProtocol=http;AccountName=dashstorage0;AccountKey=uCNvIdXcltACBiDUMyO0BflZpKmjseplqOlzE62tx87qnkwpUMBV/GQhrscW9lmdZVT0x8DilYqUoHMNBlVIGg==" />
    <add key="ScaleoutStorage0" value="DefaultEndpointsProtocol=http;AccountName=dashstorage1;AccountKey=8jqRVtXUWiEthgIhR+dFwrB8gh3lFuquvJQ1v4eabObIj7okI1cZIuzY8zZHmEdpcC0f+XlUkbFwAhjTfyrLIg==" />
    <add key="ScaleoutStorage1" value="DefaultEndpointsProtocol=http;AccountName=dashstorage2;AccountKey=YI0BDhckKp+6uBsu4OAAeVvUyOuMvimqo9BSz197lR14x9vWE+tuwqOr0U1asNWpkdZs4z8wcnu9pZNYDqdRPA==" />
    <add key="ScaleoutStorage2" value="DefaultEndpointsProtocol=http;AccountName=dashstorage3;AccountKey=TP+G/9FTZRP1he1EpKilMercxSbMyqtaI9xTbc/3HqT2/FkxyIk1wVlBdemDFuYKStmlkFqHc7049l8McTd8NQ==" />
    <add key="ScaleoutStorage3" value="DefaultEndpointsProtocol=http;AccountName=dashstorage4;AccountKey=/9xfNbmYy/k7DQzO12XEbEeMsy+z/ogkekHltikmCNXVNwPnW/O95d+FZTkfDDLo+s1LMLhXeCQFVDCDuo5DWQ==" />
    <add key="ScaleoutStorage4" value="DefaultEndpointsProtocol=http;AccountName=dashstorage5;AccountKey=FEZZeywk/TOJTqtYzIeHAF9TcpGzT3KC/RtSOPTgZwfnGTa3mJ1YXxfkWhx2x/znjmZNgfRKCAr8t49WIstkow==" />-->
    <add key="StorageConnectionStringMaster" value="DefaultEndpointsProtocol=http;AccountName=zabcd8574dash2namespace;AccountKey=1NSF22FVviorAv+RXuwAg7QdZoNMYyvb+mDxETRHKfEy1t5rQ0kqLt54QZ9hQpyFc79i2icum7ShcLu7m2jb5A==" />
    <add key="ScaleoutStorage0" value="DefaultEndpointsProtocol=http;AccountName=adfcc207dash2east0;AccountKey=gj5TEQmkjo0hQDxI3pwZ4ZjNVfOmdioQIXU8RPuyuSviv0uYbkGLCkTGEJBJI0g3CJ4x0o8o1njs0BpfFdPXig==" />
    <add key="ScaleoutStorage1" value="DefaultEndpointsProtocol=http;AccountName=cc2369d4dash2east1;AccountKey=T0LQ1CU6VosxLwOQS8p4u8QtvYA2bAMj8gHSQ971EOxy0OWR5idbN7kLqkY8+P/y/J6se7mjoCwAVpDCmfpk7g==" />
    <add key="ScaleoutStorage2" value="DefaultEndpointsProtocol=http;AccountName=d274f1f6dash2east2;AccountKey=FqTlZr5qvjuUz0BwyhZrPoXbJ43fn5o/y5U/ibd9zativTD5GzIyK0Sz+ART0IY4xLiSpHEbMSH21Izj3R1fVw==" />
    <add key="ScaleoutStorage3" value="DefaultEndpointsProtocol=http;AccountName=fddd008edash2east3;AccountKey=16UFPVvqcQeUoxViLSlEgJwG/V2sLehfwBaM5L12u8K1eDtpZviQgHr4sgzGWgONhYPOR1wBT1P6tt47rlaH0A==" />
    <add key="ScaleoutStorage4" value="DefaultEndpointsProtocol=http;AccountName=g5848aa6dash2east4;AccountKey=ulC9Jh++Q0G5WsPrfwaHdbEMg6dpLXK2aUqYWmMH60zPkVLSHeD6/RUHVY4EsPIE9PIr36jML/z6mdx5cLRZoQ==" />
    <add key="ScaleoutStorage5" value="DefaultEndpointsProtocol=http;AccountName=i1b1be7bdash2east5;AccountKey=uhGS8ULy5HUD2VY080g1aNIDozkdF3wZkePjlPcdp+QIRSf3x3bpD0CdN2VkU1wAcFy+d6pukRfFPRzZmEnHvA==" />
    <add key="ScaleoutStorage6" value="DefaultEndpointsProtocol=http;AccountName=k77d7608dash2east6;AccountKey=DQbuzrJmuy0qa0P04uDmLvF7tKGiKcwoYri8albgQMKyJK5n1QJ+dYCEafdt91SJGlqOXTxJhqx7fw0Nk8t5mw==" />
    <add key="ScaleoutStorage7" value="DefaultEndpointsProtocol=http;AccountName=lbc4022adash2east7;AccountKey=wyJc1gBZkkyixaYiNwYKBcdMTV+2QRmf1LaGpmPWIrzkoTyhupaKBDkfWlniJa6J2b8eLe+6qfFEILsXfUhweg==" />
    <add key="ScaleoutStorage8" value="DefaultEndpointsProtocol=http;AccountName=n02a98f9dash2east8;AccountKey=u5WNNCANk9OgFnjdpUQofBd9Tbg5cjr+HfCcKCAe2VSi4tK3nUnHRb2y599cwH3uPgslyj6+aIoE+Ms/P07fTA==" />
    <add key="ScaleoutStorage9" value="DefaultEndpointsProtocol=http;AccountName=p92c3607dash2east9;AccountKey=L6hE5srTvXrlr+ldHp8zW9O0HlcJHT7q4zXgCaVs3gIROWg3ZnDNs1cBIRXHslSKbHOnQudZENL6Ytf+6kcF9g==" />
    <add key="ScaleoutStorage10" value="DefaultEndpointsProtocol=http;AccountName=qcb39203dash2east10;AccountKey=IOhtCBCVvNUMGhZEzMx1IQPrOlbrs73TrQDA2xAtuBPRMCfySfvSZJ+qDkzWkEm91Fm4+j2JdQFSYbTvNADJAQ==" />
    <add key="ScaleoutStorage11" value="DefaultEndpointsProtocol=http;AccountName=sf3974cadash2east11;AccountKey=ydHvvoqmiwLrccyp6HWQDzyFBsBapQrZ7j7UsJJysvH7wkZYmQro049AOytdEfrUceWhE/6GdNkF49zcSoYHwQ==" />
    <add key="ScaleoutStorage12" value="DefaultEndpointsProtocol=http;AccountName=u3df6b52dash2east12;AccountKey=og4Ne4+44r1bl9ANcy/TmIDaGOmTltcVnyzxv876sriE6AR92b0tliFk4MqmZdh0fStE4EqZartC2dbeWFFYmA==" />
    <add key="ScaleoutStorage13" value="DefaultEndpointsProtocol=http;AccountName=v953b455dash2east13;AccountKey=xc7R5IBfjhkgTwcvhvUUE2FJpWQGs49757swZZzAjYliMU2oJIWETKJRZ7Rm+i7xp2TTluVIJOKFhQJipU67bQ==" />
    <add key="ScaleoutStorage14" value="DefaultEndpointsProtocol=http;AccountName=xef9de20dash2east14;AccountKey=/S59AdAw5Uf/LhrViXuiqSiA7RnjvEfZzkgu7/b3FUM8YgtPDWIxGQcjaL8H7J0CUfciie9Kdh+mEKLghJZ52Q==" />
    <add key="ScaleoutStorage15" value="DefaultEndpointsProtocol=http;AccountName=y149c3cddash2east15;AccountKey=NS6dbkTE5PSSf2FNYoGf7t1tRrRwISfIOo7xb+ydhL0WEAmyhwYUrPSNX9VEnJn6e7JUOA3GUKamsVlzBMvEtw==" />
    <add key="LogNormalOperations" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="options" stopProcessing="true">
          <match url=".*" />
          <conditions trackAllCaptures="true">
            <add input="{REQUEST_METHOD}" matchType="Pattern" pattern="OPTIONS" ignoreCase="true"/>
          </conditions>
          <action type="Rewrite" url="/account" />
        </rule>
        <rule name="container" stopProcessing="true">
          <match url="(.*)" />
          <conditions trackAllCaptures="true">
            <add input="{QUERY_STRING}" pattern="(^|.*&amp;)restype=container($|&amp;.*)" />
          </conditions>
          <action type="Rewrite" url="/container/{R:1}" />
        </rule>
        <rule name="blob" stopProcessing="true">
          <match url="([^/]*)/(.+)" />
          <conditions trackAllCaptures="true">
          </conditions>
          <action type="Rewrite" url="/blob/{R:1}/{R:2}" />
        </rule>
        <rule name="account" stopProcessing="true">
          <match url=".*" />
          <conditions trackAllCaptures="true">
          </conditions>
          <action type="Rewrite" url="/account" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="StaticFile" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*" verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
