################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataAtScaleHub/.ntvs_analysis.dat
*.suo
packages/
.nuget/NuGet.exe
*.js
*.js.map
/DataAtScaleHub/Scripts/typings/
/DataAtScaleHub/node_modules/
bin/
obj/
*.user
/TestResults
csx/
rcf/
AssemblyVersion.cs
.nuget/NuGet.exe
