<div>
    <h2>Dash Configuration</h2>
    <p class="error">{{configuration.error}}</p>
    <p>{{configuration.loadingMessage}}</p>

    <tabset class="tab-container" ng-hide="configuration.loadingMessage">
        <tab heading="Account Settings" active="true">
            <table class="table table-striped">
                <tbody>
                    <tr data-ng-repeat="setting in configuration.settings.specialSettings" ng-include="'ConfigSetting.html'" />
                </tbody>
            </table>
        </tab>
        <tab heading="Storage Accounts">
            <table class="table table-striped">
                <tbody>
                    <tr data-ng-repeat="setting in configuration.settings.scaleOutStorage" ng-include="'ConfigSetting.html'" />
                </tbody>
            </table>
        </tab>
        <tab heading="General Settings">
            <table class="table table-striped">
                <tbody>
                    <tr data-ng-repeat="setting in configuration.settings.miscSettings" ng-include="'ConfigSetting.html'" />
                </tbody>
            </table>
        </tab>
    </tabset>
</div>
<script type="text/ng-template" id="ConfigSetting.html">
    <td>
        <label>{{setting.setting}}:</label>
        <input type="text" value="{{setting.value}}" class="form-control" ng-disabled="{{!setting.editing}}" />
    </td>
    <td>
        <p data-ng-hide="configuration.editingInProgress">
            <a data-ng-click="editSwitch(setting)" href="javascript:;">Edit</a> |
            <a data-ng-click="delete(setting)" href="javascript:;">Delete</a>
        </p>
        <p data-ng-show="setting.editing">
            <a data-ng-click="update(setting)" href="javascript:;">Save</a> |
            <a data-ng-click="editSwitch(setting)" href="javascript:;">Cancel</a>
        </p>
    </td>
</script>
